html
{
    scroll-behavior: smooth;
}

body
{
    margin: 0px;
    padding: 0px;
    background-color: #FFFFFF;
}

.gotopbtn
{
    position: fixed;
    bottom: 40px;
    right: 50px;
    height: 50px;
    width: 50px;
    text-decoration: none;
    color: white;
    font-size: 46px;
    background-color: #7A797C;
    line-height: 54px;
    text-align: center;
    border-radius: 50%;
    opacity: 0.4;
    transition: 0.5s;
}

.gotopbtn:hover
{
    opacity: 1;
    background-color: #eea400;
}

.body-header
{
    background-color: #4C5A7D;
    color: white;
    height: 14vh;
    display: flex;
    justify-content: space-between;
}

#logo
{
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.logo-plus-text
{
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 140px;
    display: flex;
}

.logo-plus-h2p h2
{
    margin: 10px 10px 5px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
}

.logo-plus-h2p p
{
    margin: 5px 10px 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    letter-spacing: 1.8px;
}

.body-header ul
{
    display: flex;
}

.body-header ul li
{
    list-style-type: none;
}

.h3
{
    padding: 16px 0;
    margin: 0 18px;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

.h3:hover
{
    color: #EEA412;
    text-decoration: overline;
}

.about
{
    text-decoration: overline;
    color: #EEA412;
}

header button
{
    margin-top: 15px;
    margin-right: 20px;
    padding: 15px 20px;
    border: 1px solid black;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    background-color: white;
    cursor: pointer;
    transition: 0.3s;
}

header button:hover
{
    background-color: #EEA412;
    color: white;
    border: 1px solid white;
}

.top-img-section
{
    margin: 0px;
    padding: 0px;
    height: 50vh;
    width: 100%;
    background-image: url("bg.jpeg");
    background-position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
}

.top-img-div
{
    position: relative;
    padding: 130px 460px;
}

.top-img-div h1
{
    margin: 0px;
    padding: 10px 0;
    text-align: center;
    font-family: 'Alfa Slab One', cursive;
    font-size: 50px;
    letter-spacing: 3px;
    opacity: 0.8;
}

.top-img-div p
{
    text-align: center;
    font-family: 'Manrope', sans-serif;
    font-size: 20px;
}

.about-section
{
    height: 190vh;
    background-color: #F2F3F5;
}

.about-section h1
{
    margin-top: 0px;
    padding-top: 50px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 42px;
}

.abt-p
{
    padding: 0 150px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    opacity: 0.6;
    line-height: 1.8;
    letter-spacing: 1px;
}

.inner-section
{
    padding-top: 100px;
    display: flex;
    flex-direction: column;
}

.inner-section-a
{
    display: flex;
    justify-content: center;
}

.a1
{
    width: 550px;
    height: 400px;
    margin-right: 20px;
}

.a1 h3
{
    margin: 0px;
    text-align: Left;
    font-family: 'Oswald', sans-serif;
    color: #EEA412;
    font-size: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.a1 h1
{
    margin: 0px;
    padding-top: 10px;
    text-align: left;
    font-family: 'Manrope', sans-serif;
    font-size: 38px;
    font-weight: 500;
    text-transform: capitalize;
    letter-spacing: 2px;
}

.a1 p
{
    margin: 0px;
    padding: 10px 0;
    text-align: left;
    font-family: 'Manrope', sans-serif;
    font-size: 14px;
    font-weight: bold;
}

.a1 button
{
    margin-top: 25px;
    padding: 12px 16px;
    font-family: 'Manrope', sans-serif;
    font-size: 18px;
    letter-spacing: 1px;
    background-color: #333333;
    color: white;
    border: 2px solid #EEA412;
    cursor: pointer;
    transition: 0.3s;
}

.a1 button:hover
{
    background-color: #EEA412;
    color: black;
    border: 2px solid #EEA412;
}

.a2
{
    width: 550px;
    height: 400px;
    background-color: white;
    display: flex;
    justify-content: center;
}

.inner-section-b
{
    padding-top: 75px;
    display: flex;
    justify-content: center;
}

.b1
{
    width: 550px;
    height: 400px;
    margin-right: 20px;
    background-color: white;
    display: flex;
    justify-content: center;
}

.b2
{
    width: 550px;
    height: 550px;
}

.b2 h1
{
    margin: 0px;
    padding-top: 0px;
    text-align: left;
    font-family: 'Manrope', sans-serif;
    font-size: 38px;
    font-weight: 500;
    text-transform: capitalize;
    letter-spacing: 2px;
}

.b2 p
{
    margin: 0px;
    padding: 10px 0;
    text-align: left;
    font-family: 'Manrope', sans-serif;
    font-size: 14px;
    font-weight: bold;
}

.b2 button
{
    margin-top: 25px;
    padding: 12px 16px;
    font-family: 'Manrope', sans-serif;
    font-size: 18px;
    letter-spacing: 1px;
    background-color: #333333;
    color: white;
    border: 2px solid #EEA412;
    cursor: pointer;
    transition: 0.3s;
}

.b2 button:hover
{
    background-color: #EEA412;
    color: black;
    border: 2px solid #EEA412;
}

.ab-img
{
    width: 400px;
    height: 400px;
}

.MVH-section
{
    height: 70vh;
    padding: 0 50px;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.mvh-div-1
{
    height: 50vh;
    width: 350px;
    padding: 20px;
    border: 3px solid #C0933C;
    border-radius: 10px;
    transition: 0.1s;
}

.mvh-div-1:hover
{
    border: 4px solid #52AEB4;
    background-image: url('vision.png');
}


.mvh-div-2
{
    height: 50vh;
    width: 350px;
    padding: 20px;
    border: 3px solid #C0933C;
    border-radius: 10px;
    transition: 0.1s;
}

.mvh-div-2:hover
{
    border: 4px solid #52AEB4;
    background-image: url('history.png');
}

.mvh-div-3
{
    height: 50vh;
    width: 350px;
    padding: 20px;
    border: 3px solid #C0933C;
    border-radius: 10px;
    transition: 0.1s;
}

.mvh-div-3:hover
{
    border: 4px solid #52AEB4;
    background-image: url('mission.png');
}

.inside-div
{
    height: 12vh;
    width: 98%;
    border: 3px solid #52AEB4;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.3s;
}

.inside-div h1
{
    font-weight: 400;
}

.inside-div:hover
{
    border: 3px solid #EEA412;
    color: #EEA412;
}

.mvh-div p
{
    margin: 0px;
    padding-top: 25px;
    text-align: left;
    font-family: 'Manrope', sans-serif;
    font-size: 14px;
    line-height: 1.5;
    transition: 0.3s;
}

.img-bg-fixed
{
    height: 90vh;
    width: 100%;
    background-image: url('scbp.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;;
    border-bottom: 2px solid black;
}

.img-bg-fixed h1
{
    text-align: center;
    color: white;
}

.img-bg-fixed p
{
    margin: 0;
    padding: 5px;
    background-color: rgb(10, 10, 10, 0.5);
    color: white;
    text-align: center;
    font-family: 'Manrope', sans-serif;
}

.img-div
{
    padding-top: 60px;
    display: flex;
    justify-content: center;
}

.me
{
    width: 65px;
    height: 65px;
    border-radius: 50%;
}

.img-div-text
{
    text-align: center;
}

.img-div-text h3
{
    color: white;
    font-family: 'Manrope', sans-serif;
    font-size: 20px;
}

.img-text
{
    display: flex;
    justify-content: center;
}

.insd-div
{
    height: 175px;
    width: 600px;
    background-color: black;
    padding-top: 15px;
}

.awsm-div
{
    display: flex;
    justify-content: center;
}

.services
{
    width: 75px;
    height: 75px;
}

.awsm-div p
{
    color: white;
    font-size: 20px;
    font-weight: bolder;
    padding-top: 25px;
    padding-left: 20px;
}

#awsm-txt
{
    opacity: 0.8;
    letter-spacing: 1px;
    font-weight: lighter;
}

.logos-section
{
    height: 30vh;
    width: 100%;
    background-color: #EEA412;
    display: flex;
    justify-content: space-evenly;
}

.logo-imgs
{
    padding-top: 30px;
    width: 130px;
    height: 130px;
    opacity: 0.2;
    cursor: pointer;
    transition: 0.2s;
}

.logo-imgs:hover
{
    opacity: 1.0;
}

.footer-a
{
    height: 62vh;
    background-color: #4C5A7D;
}

.footer-a-sub
{
    display: flex;
    justify-content: center;
    padding: 66px 110px 0px;
}

.footer-a-sub h2
{
    font-family: 'Roboto', sans-serif;
    color: white;
}

.footer-a-sub P
{
    font-family: 'Roboto', sans-serif;
    color: white;
    line-height: 1.5;
    letter-spacing: 1;
    opacity: 0.6;
}

.footer-sub-same
{
    margin: 0 10px;
    width: 500px;
}    

.socio-icons
{
    display: flex;
}

.footer-social-icon
{
    width: 20px;
    height: 20px;
    margin: 10px 10px;
}

.footer-social-icon:hover
{
    animation: shake 0.5s;
}

@keyframes shake
{
    0% { transform: translate(1px, 2px) rotate(1deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(1px, 0px) rotate(2deg);}
    30% { transform: translate(-1px, 2px) rotate(-1deg); }
    40% { transform: translate(-1px, -2px) rotate(1deg); }
    50% { transform: translate(1px, 0px) rotate(-2deg);}
    60% { transform: translate(1px, 2px) rotate(1deg); }
    70% { transform: translate(-1px, -2px) rotate(-1deg); }
    80% { transform: translate(1px, 0px) rotate(2deg);}
    90% { transform: translate(-1px, 2px) rotate(-1deg); }
    100% { transform: translate(-1px, -2px) rotate(1deg); }
}

.footer-sub-same li
{
    list-style-type: none;
    margin-bottom: 25px;
    margin-left: -38px;
}

.footer-links
{
    color: white;
    text-decoration: none;
}

.footer-li-hover
{
    font-family: 'Roboto', sans-serif;
    opacity: 0.6;
    transition: 0.3s;
}

.footer-li-hover:hover
{
    opacity: 1;
}

.footer-li-no-hover
{
    color: white;
    font-family: 'Roboto', sans-serif;
    opacity: 0.6;
}

.footer-b
{
    height: 8vh;
    background-color: #1F1F1F;
}

.footer-b p
{
    margin: 0px;
    padding-top: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: white;
    text-align: center;
}

.footer-b span
{
    opacity: 0.2;
}

.footer-b a
{
    text-decoration: none;
    color: white;
    opacity: 1;
    transition: 0.3s;
}

.footer-b a:hover
{
    color: #EEA412;
}