html
{
    scroll-behavior: smooth;
}

body
{
    margin: 0px;
    padding: 0px;
    background-color: #FFFFFF;
}

.gotopbtn
{
    position: fixed;
    bottom: 40px;
    right: 50px;
    height: 50px;
    width: 50px;
    text-decoration: none;
    color: white;
    font-size: 46px;
    background-color: #7A797C;
    line-height: 54px;
    text-align: center;
    border-radius: 50%;
    opacity: 0.4;
    transition: 0.5s;
}

.gotopbtn:hover
{
    opacity: 1;
    background-color: #eea400;
}

.body-header
{
    background-color: #4C5A7D;
    color: white;
    height: 14vh;
    display: flex;
    justify-content: space-between;
}

#logo
{
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.logo-plus-text
{
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 140px;
    display: flex;
}

.logo-plus-h2p h2
{
    margin: 10px 10px 5px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
}

.logo-plus-h2p p
{
    margin: 5px 10px 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    letter-spacing: 1.8px;
}

.body-header ul
{
    display: flex;
}

.body-header ul li
{
    list-style-type: none;
}

.h3
{
    padding: 16px 0;
    margin: 0 18px;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

.h3:hover
{
    color: #EEA412;
    text-decoration: overline;
}

.course
{
    text-decoration: overline;
    color: #EEA412;
}

header button
{
    margin-top: 15px;
    margin-right: 20px;
    padding: 15px 20px;
    border: 1px solid black;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    background-color: white;
    cursor: pointer;
    transition: 0.3s;
}

header button:hover
{
    background-color: #EEA412;
    color: white;
    border: 1px solid white;
}

.logos-section
{
    height: 30vh;
    width: 100%;
    background-color: #EEA412;
    display: flex;
    justify-content: space-evenly;
}

.logo-imgs
{
    padding-top: 30px;
    width: 130px;
    height: 130px;
    opacity: 0.2;
    cursor: pointer;
    transition: 0.2s;
}

.logo-imgs:hover
{
    opacity: 1.0;
}

.footer-a
{
    height: 62vh;
    background-color: #4C5A7D;
}

.footer-a-sub
{
    display: flex;
    justify-content: center;
    padding: 66px 110px 0px;
}

.footer-a-sub h2
{
    font-family: 'Roboto', sans-serif;
    color: white;
}

.footer-a-sub P
{
    font-family: 'Roboto', sans-serif;
    color: white;
    line-height: 1.5;
    letter-spacing: 1;
    opacity: 0.6;
}

.footer-sub-same
{
    margin: 0 10px;
    width: 500px;
}    

.socio-icons
{
    display: flex;
}

.footer-social-icon
{
    width: 20px;
    height: 20px;
    margin: 10px 10px;
}

.footer-social-icon:hover
{
    animation: shake 0.5s;
}

@keyframes shake
{
    0% { transform: translate(1px, 2px) rotate(1deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(1px, 0px) rotate(2deg);}
    30% { transform: translate(-1px, 2px) rotate(-1deg); }
    40% { transform: translate(-1px, -2px) rotate(1deg); }
    50% { transform: translate(1px, 0px) rotate(-2deg);}
    60% { transform: translate(1px, 2px) rotate(1deg); }
    70% { transform: translate(-1px, -2px) rotate(-1deg); }
    80% { transform: translate(1px, 0px) rotate(2deg);}
    90% { transform: translate(-1px, 2px) rotate(-1deg); }
    100% { transform: translate(-1px, -2px) rotate(1deg); }
}

.footer-sub-same li
{
    list-style-type: none;
    margin-bottom: 25px;
    margin-left: -38px;
}

.footer-links
{
    color: white;
    text-decoration: none;
}

.footer-li-hover
{
    font-family: 'Roboto', sans-serif;
    opacity: 0.6;
    transition: 0.3s;
}

.footer-li-hover:hover
{
    opacity: 1;
}

.footer-li-no-hover
{
    color: white;
    font-family: 'Roboto', sans-serif;
    opacity: 0.6;
}

.footer-b
{
    height: 8vh;
    background-color: #1F1F1F;
}

.footer-b p
{
    margin: 0px;
    padding-top: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: white;
    text-align: center;
}

.footer-b span
{
    opacity: 0.2;
}

.footer-b a
{
    text-decoration: none;
    color: white;
    opacity: 1;
    transition: 0.3s;
}

.footer-b a:hover
{
    color: #EEA412;
}